@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css");
*{
    font-family: 'NanumSquareNeo';
}
.submitBtn {

}
.submitBtn button:hover{
    background-color: green;
    color: white;
}
.addTweets{
    display: flex;
    height: 30px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.addTweets > input{
    width: 80%;
    height: 10px;
    margin-right: 5px;
}

.addTweets > button:hover{
    background-color: steelblue;
    color: white;
}
p{
    margin: 0;
    padding: 5px;
    color: crimson;
}
