@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css");

p{
    font-size: small;
}
.tableCase{
    display: flex;
    justify-content: center;
}
.mapLink > a{
    font-size: small;
}
.twitGrid{
    display: flex;
    flex-direction: row;
    /* min-width: 260px; */
    max-width: 260px;
    /* max-width: 500px; */
    overflow-x: scroll;
    white-space: nowrap;
}
.innerTweets{
    /* border: 1px solid black; */
    margin: 5px;
    /* height: 100px; */
    
}
.innerTweet{
    /* height: 50px; */
}
.tweetLink {
    margin: 5px;
    padding: 2px;
    max-width: 200px;
    font-size: small;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

table {
    font-family: 'NanumSquareNeo';
    border-collapse: collapse;
    min-width: 200px;
    /* width: 500px; */
    /* max-width: 300px; */
    margin: 1rem;
    padding: 10px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}
  
/* 테이블 행 */
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #1b1b1b;
    color: #ddd;
}